<!DOCTYPE html>
<%
	//TODO test code, removal required
	const slideTitle = 'TEST';
%>
<html>
	</head>
		<%- include('../common/header', {
			title: translator('slide.editor.title', {
				title: slideTitle
			})
		}) %>

		<link rel="stylesheet" href="/css/slide/editor.css">
	<head>

	<body>
		<header id="os-editor-menubar">
			<!-- File menu -->
			<span id="os-editor-logo" class="os-editor-menu">
				<img class="os-logo" src="/img/logo.svg">
			</span>

			<a id="os-editor-menu-file" href="#!" class="os-editor-menu dropdown-button" data-activates="file-dropdown" data-constrainwidth="false">
				<%= translator('slide.editor.file') %>
				<i class="mdi mdi-chevron-down"></i>
			</a>

			<ul id="file-dropdown" class="dropdown-content">
				<li>
					<a href="#!" id="os-editor-menu-file-share">
						<i class="mdi mdi-share-variant"></i>
						<%= translator('slide.editor.file.share') %>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#!" id="os-editor-menu-file-save">
						<i class="mdi mdi-content-save"></i>
						<%= translator('slide.editor.file.save') %>
					</a>
				</li>
				<li>
					<a href="#!">
						<i class="mdi mdi-content-save-settings"></i>
						<%= translator('slide.editor.file.saveas') %>
					</a>
				</li>
			</ul>

			<!-- Edit menu -->
			<a
				id="os-editor-menu-undo"
				href="#!"
				class="os-editor-menu tooltipped"
				data-position="bottom"
				data-delay="50"
				data-tooltip="<%= translator('slide.editor.undo') %>">
				<i class="mdi mdi-undo"></i>
			</a>

			<a
				id="os-editor-menu-redo"
				href="#!"
				class="os-editor-menu tooltipped"
				data-position="bottom"
				data-delay="50"
				data-tooltip="<%= translator('slide.editor.redo') %>">
				<i class="mdi mdi-redo"></i>
			</a>

			<!-- Shape Insert menu -->
			<a id="os-editor-menu-insert" href="#!" class="os-editor-menu dropdown-button" data-activates="insert-dropdown" data-constrainwidth="false">
				<%= translator('slide.editor.insert') %>
				<i class="mdi mdi-chevron-down"></i>
			</a>

			<ul id="insert-dropdown" class="dropdown-content">
				<li>
					<a href="#!" id="os-editor-menu-insert-richtext">
						<i class="mdi mdi-textbox"></i>
						<%= translator('slide.editor.insert.richtext') %>
					</a>
				</li>
				<li>
					<a href="#!" id="os-editor-menu-insert-image">
						<i class="mdi mdi-image"></i>
						<%= translator('slide.editor.insert.image') %>
					</a>
				</li>
				<li>
					<a href="#!" id="os-editor-menu-insert-video">
						<i class="mdi mdi-file-video"></i>
						<%= translator('slide.editor.insert.video') %>
					</a>
				</li>
				<li>
					<a href="#!" id="os-editor-menu-insert-url">
						<i class="mdi mdi-link-variant"></i>
						<%= translator('slide.editor.insert.url') %>
					</a>
				</li>
				<li>
					<a href="#!" id="os-editor-menu-insert-html">
						<i class="mdi mdi-code-tags"></i>
						<%= translator('slide.editor.insert.html') %>
					</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#!" id="os-editor-menu-insert-note">
						<i class="mdi mdi-book-plus"></i>
						<%= translator('slide.editor.insert.note') %>
					</a>
				</li>
			</ul>

			<a id="os-editor-menu-edit" href="#!" class="os-editor-menu dropdown-button" data-activates="edit-dropdown" data-constrainwidth="false">
				<%= translator('slide.editor.edit') %>
				<i class="mdi mdi-chevron-down"></i>
			</a>

			<ul id="edit-dropdown" class="dropdown-content">
				<li>
					<a id="os-editor-menu-layout" href="#!">
						<i class="mdi mdi-view-dashboard"></i>
						<%= translator('slide.editor.layout') %>
					</a>
				</li>

				<li>
					<a id="os-editor-menu-background" href="#!">
						<i class="mdi mdi-terrain"></i>
						<%= translator('slide.editor.background') %>
					</a>
				</li>
			</ul>

			<!-- Slide Insert Menu -->
			<a id="os-editor-menu-insert" href="#!" class="os-editor-menu">
				<i class="mdi mdi-shape-rectangle-plus"></i>
				<%= translator('slide.editor.insert.slide') %>
			</a>

			<!-- A simple clock -->
			<span id="os-editor-menu-clock" class="os-editor-menu">
				<%= new Date().toLocaleTimeString() %>
			</span>

			<!-- Other menu -->
			<a id="os-editor-menu-present" href="#!" class="os-editor-menu">
				<i class="mdi mdi-projector-screen"></i>
				<%= translator('slide.editor.present') %>
			</a>

			<a id="os-editor-menu-finish" href="#!" class="os-editor-menu">
				<i class="mdi mdi-check"></i>
				<%= translator('slide.editor.finish') %>
			</a>
		</header>

		<aside id="os-editor-slidelist">
		</aside>

		<aside id="os-editor-property-editor">
			<div class="input-field">
				<input id="posx" type="number">
				<label for="posx"><%= translator('slide.editor.property.posx') %></label>
			</div>

			<div class="input-field">
				<input id="posy" type="number">
				<label for="posy"><%= translator('slide.editor.property.posy') %></label>
			</div>

			<div class="input-field">
				<input id="posz" type="number">
				<label for="posz"><%= translator('slide.editor.property.posz') %></label>
			</div>

			<div class="input-field">
				<input id="sizex" type="number">
				<label for="sizex"><%= translator('slide.editor.property.sizex') %></label>
			</div>

			<div class="input-field">
				<input id="sizey" type="number">
				<label for="sizey"><%= translator('slide.editor.property.sizey') %></label>
			</div>

			<div class="input-field">
				<input id="rotx" type="number">
				<label for="rotx"><%= translator('slide.editor.property.rotx') %></label>
			</div>

			<div class="input-field">
				<input id="roty" type="number">
				<label for="roty"><%= translator('slide.editor.property.roty') %></label>
			</div>

			<div class="input-field">
				<input id="rotz" type="number">
				<label for="rotz"><%= translator('slide.editor.property.rotz') %></label>
			</div>
		</aside>

		<main id="os-editor-workspace">
			<div id="os-editor-slides">
			</div>
		</main>

		<section id="os-editor-layout-dialog">
			<a id="os-editor-layout-close" href="#!">
				<i class="mdi mdi-close"></i>
			</a>

			<div id="os-editor-layout">
			</div>
		</section>

		<section id="os-editor-share-dialog"></section>
		<section id="os-editor-code-edit-dialog"></section>

		<script src="/Sortable/Sortable.min.js"></script>
		<script src="/socket.io-client/dist/socket.io.min.js"></script>
		<script src="/js/common/include.js"></script>
		<script src="/js/slide/editor-main.js"></script>
	</body>
</html>
