<!DOCTYPE html>
<% slideLastEdit = new Date(slideLastEdit); %>

<%
	const pad2 = (str) => String(str).length === 1 ? '0' + str : str;
%>
<html>
	</head>
		<%- include('../common/header', {
			title: translator('slide.view.title', {
				title: slideTitle
			})
		}) %>

		<link rel="stylesheet" href="/css/slide/view.css">
	<head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="/slide" class="brand-logo">
					<img class="os-logo" src="/img/logo.svg"> <%= translator('title') %>
				</a>
			</div>
		</nav>

		<main>
			<h2 id="slide-view-title"><%= slideTitle %></h2>
			<div id="slide-view-metadata" class="row">
				<span id="slide-view-metadata-lastedit">
						<%= `${pad2(slideLastEdit.getFullYear())}-${pad2(slideLastEdit.getMonth() + 1)}-${pad2(slideLastEdit.getDate())}` %>
						&nbsp;
						<%= `${pad2(slideLastEdit.getHours())}:${pad2(slideLastEdit.getMinutes())}:${pad2(slideLastEdit.getSeconds())}` %>
				</span>

				<span id="slide-view-metadata-owner">
					<%= slideOwner %>
				</span>
			</div>

			<section id="slide-view">
				<iframe src="/slide/present/<%= slideId %>/"></iframe>
			</section>
			<div class="row">
				<a class="btn waves-effect waves-orange btn-flat deep-orange-text col s4" href="/slide/edit/<%= slideId %>/">
					<i class="mdi mdi-pencil"></i>
					<%= translator('slide.view.edit') %>
				</a>
				<a class="btn waves-effect waves-orange btn-flat deep-orange-text col s4" href="/slide/present/<%= slideId %>/">
					<i class="mdi mdi-presentation"></i>
					<%= translator('slide.view.present') %>
				</a>
				<a class="btn waves-effect waves-orange btn-flat deep-orange-text col s4" href="/slide/export/<%= slideId %>">
					<i class="mdi mdi-download"></i>
					<%= translator('slide.view.export') %>
				</a>
			</div>
		</main>
	</body>
</html>
