<!DOCTYPE html>
<%
	//TODO test code, removal required
	const slideTitle = 'TEST';
	const slideID = 'abc';
	const slideOwner = 'Khinenw';
	const slideLastEdit = new Date;
%>

<%
	const pad2 = (str) => String(str).length === 1 ? '0' + str : str;
%>
<html>
	</head>
		<%- include('../common/header', {
			title: translator('slide.view.title', {
				title: slideTitle
			})
		}) %>

		<link rel="stylesheet" href="/css/slide/view.css">
	<head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="/slide" class="brand-logo">
					<img class="os-logo" src="/img/logo.svg"> <%= translator('title') %>
				</a>
			</div>
		</nav>

		<main>
			<h2 id="slide-view-title"><%= slideTitle %></h2>
			<div id="slide-view-metadata" class="row">
				<span id="slide-view-metadata-lastedit">
						<%= `${pad2(slideLastEdit.getFullYear())}-${pad2(slideLastEdit.getMonth() + 1)}-${pad2(slideLastEdit.getDate())}` %>
						&nbsp;
						<%= `${pad2(slideLastEdit.getHours())}:${pad2(slideLastEdit.getMinutes())}:${pad2(slideLastEdit.getSeconds())}` %>
				</span>

				<span id="slide-view-metadata-owner">
					<%= slideOwner %>
				</span>
			</div>

			<section id="slide-view">
				<iframe src="/slide/present/<%= slideID %>"></iframe>
			</section>
		</main>
	</body>
</html>
