<!DOCTYPE html>
<html>
	</head>
		<%- include('../common/header', {
			title: translator('slide.view.title')
		}) %>

		<link rel="stylesheet" href="/css/slide/list.css">
	<head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="/slide" class="brand-logo">
					<img class="os-logo" src="/img/logo.svg"> <%= translator('title') %>
				</a>
			</div>
		</nav>

		<main>
			<section id="slide-view">
				<iframe src="/slide/"
			</section>
			<li class="slide-listing-header row">
				<a class="col s6" data-sort="name" href="#!">
					<i class="mdi mdi-chevron-down"></i> <%= translator('slide.list.name') %>
				</a>

				<a class="col s3" data-sort="date" href="#!">
					<i class="mdi"></i> <%= translator('slide.list.date') %>
				</a>

				<a class="col s3" data-sort="author" href="#!">
					<i class="mdi"></i> <%= translator('slide.list.author') %>
				</a>
			</li>
		</main>
	</body>
</html>
